:root {
  --text-color: #a0522d;
  --border-color: #eee8aa;
  --body-color: #fffacd;
  --container-color: #fff;
  --click-color: #dc143c;
}

body {
  background-color: var(--body-color);
}

.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: auto;
  margin: 100px 0;
  border: 0.2px solid var(--border-color);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--container-color);
}

.container input {
  width: 440px;
  outline: none;
  border: none;
  padding: 12px 0;
  background-color: var(--container-color);
}

.container #title {
  font-size: 24px;
  color: var(--text-color);
  border-bottom: 0.2px solid var(--border-color);
  margin: 0;
  padding: 18px;
  text-align: center;
  position: relative;
}

.container #title .fa-arrows-rotate {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: var(--text-color);
}

.container #title .fa-arrows-rotate:hover {
  cursor: pointer;
  color: var(--click-color);
}

.container #input_list {
  border-bottom: 0.2px solid var(--border-color);
  width: 95%;
  padding: 18px 15px;
}

.container #input_list::placeholder {
  font-size: 16.5px;
  font-style: italic;
  color: var(--text-color);
}

.container #to_do_list .todolist {
  border-bottom: 0.2px solid var(--border-color);
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 2.8px 0;
}

.container #to_do_list .todolist [type="checkbox"] {
  width: auto;
  margin: 15px;
}

.container #to_do_list .todolist .listname {
  font-size: 19px;
  color: var(--text-color);
  padding-left: 12px;
}

.container #to_do_list .todolist .fa-trash-can {
  font-size: 18px;
  color: var(--text-color);
  margin-left: 70px;
}

.container #to_do_list .todolist .fa-trash-can:hover {
  cursor: pointer;
  color: var(--click-color);
}

.container a {
  color: var(--text-color);
  font-size: 16.5px;
  text-decoration: none;
  margin: 21px auto;
  width: 600px;
  text-align: center;
  display: inline-block;
}

.container a:active {
  color: var(--click-color);
}
